{% extends "base.php.twig" %}

{% block body %}
<div class="jumbotron jumbo-hero jumbo-hero-aux">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="jumbo-hero-textarea">
                    <h1 class="jumbo-hero-heading">
                        <span class="jumbo-hero-heading-less">ADELAIDE STREET</span><br/>
                        <span class="jumbo-hero-heading-more">CLEANING</span>
                    </h1>
                    <p class="jumbo-hero-tagline">
                        Dedicated to providing commercial cleaning services to Brisbane businesses.
                    </p>
                    <a href="" class="btn btn-md btn-light btn-hero">
                        ONLINE ENQUIRY
                    </a>
                    <a href="" class="btn btn-md btn-light btn-hero btn-hero-secondary">
                        CALL NOW
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="aux-descriptor">
                    <div class="row g-0">
                        <div class="col-12 col-md-6">
                            <div class="aux-textarea">
                                <h3 class="aux-textarea-heading">
                                    Your #1 Brisbane cleaners
                                </h3>
                                <p>
                                    Dedicated to providing commercial cleaning services to Brisbane <br/>businesses.
                                    Dedicated to providing commercial cleaning services to Brisbane businesses.
                                </p>
                                <br/>
                                <hr/>
                                <br/>
                                <p>
                                    Dedicated to providing commercial cleaning services to Brisbane <br/>businesses.
                                    Dedicated to providing commercial cleaning services to Brisbane businesses.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <img src="/lib/img/adelaide-st.webp" class="aux-textarea-image"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-service-areas">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="panel-service-area panel-service-area-adelaide" style="background-image:url('/lib/img/adelaide-st.webp');background-size:cover;">
                    <div class="panel-service-area-overlay">
                        <h3 class="panel-service-area-title">
                            Adelaide St Cleaning
                        </h3>
                    </div>
                </div>
            </div>
                        <div class="col-12 col-md-3">
                <div class="panel-service-area panel-service-area-ann" style="background-image:url('/lib/img/ann-st.webp');background-size:cover;background-position:0% 0%;">
                    <div class="panel-service-area-overlay">
                        <h3 class="panel-service-area-title">
                            Ann St Cleaning
                        </h3>
                    </div>
                </div>
            </div>
                        <div class="col-12 col-md-3">
                <div class="panel-service-area panel-service-area-charlotte" style="background-image:url('/lib/img/charlotte-st.webp');background-size:cover;">
                    <div class="panel-service-area-overlay">
                        <h3 class="panel-service-area-title">
                            Charlotte St Cleaning
                        </h3>
                    </div>
                </div>
            </div>
                        <div class="col-12 col-md-3">
                <div style="margin-top:15vh;">
                        <h3 style="font-weight:1000;">
                            Service Areas
                        </h3>
                        <p>Covering Brisbane CBD and Northside</p>
                        <a href="" class="btn btn-sm btn-hero" style="width:auto;">VIEW ALL AREAS</a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2 class="about-heading">ONTIME. <br/>EQUIPPED.<br/>PROFESSIONAL.</h2>
                <p class="about-tagline">YOUR #1 BRISBANE CLEANERS</p>
                <a href="" class="btn btn-md btn-hero">CONTACT US</a>
                <a href="" class="btn btn-md btn-hero btn-hero-secondary">CALL NOW</a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <img src="/lib/img/cleaner.webp" class="about-image"/>
            </div>
        </div>
    </div>
</div>

{% endblock %}
